<h1>Images#index</h1>
<p>Find me in app/views/images/index.html.erb</p>

<button id="button">button</button>

<button id="shuffleImage">shuffle</button>

<div id="images">

</div>

<div id="displayLink"></div>

